#navbar {
   border: 1px solid black; 
   overflow: auto;
   text-align: center; 
}

.nav-icons {
   display: inline-block;
   padding: 20px; 
   margin: 0 auto; 
}

/* Utility Classes */
/* .container {
   margin: 0 auto; 
   max-width: 1100px; 
   overflow: auto; 
   padding: 0 20px; 
   text-align: center;
} */