#navbar {
   overflow: auto;
   display: flex; 
   justify-content: center; 
   align-items: center;
   border: 1px solid #f4f4f4;
}

.nav-icons {
   padding: 20px; 
   margin: 0 auto; 
   object-fit: contain;
}

/* Utility Classes */
/* .container {
   margin: 0 auto; 
   max-width: 1100px; 
   overflow: auto; 
   padding: 0 20px; 
   text-align: center;
} */